<robot name="diff">

    <link name="base_link"/>
  
    <link name="body_link">
      <visual>
        <geometry>
          <cylinder radius="0.15" length="0.072"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="white">
          <color rgba="1.0 1.0 1.0 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <cylinder radius="0.15" length="0.072"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>
      <inertial>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <mass value="3.0" />
          <inertia ixx="0.018171" 
              ixy="0"  ixz="0"
              iyx="0"  iyy="0.018171" 
              iyz="0"
              izx="0"  izy="0"  izz="0.03375" />
      </inertial>
    </link>
  
    <gazebo reference="body_link">
      <material>Gazebo/White</material>
    </gazebo>
  
    <link name="ball_link_front">
      <visual>
        <geometry>
          <sphere radius="0.01"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="white">
          <color rgba="1.0 1.0 1.0 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <sphere radius="0.01"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>
      <inertial>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <mass value="0.05" />
          <inertia ixx="0.000002" 
              ixy="0"  ixz="0"
              iyx="0"  iyy="0.000002" 
              iyz="0"
              izx="0"  izy="0"  izz="0.000002" />
      </inertial>
    </link>
  
    <gazebo reference="ball_link_front">
      <material>Gazebo/White</material>
      <mu1 value="0.1" />
      <mu2 value="0.1" />
    </gazebo>
  
    <link name="ball_link_back">
      <visual>
        <geometry>
          <sphere radius="0.01"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="white">
          <color rgba="1.0 1.0 1.0 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <sphere radius="0.01"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>
      <inertial>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <mass value="0.05" />
          <inertia ixx="0.000002" 
              ixy="0"  ixz="0"
              iyx="0"  iyy="0.000002" 
              iyz="0"
              izx="0"  izy="0"  izz="0.000002" />
      </inertial>
    </link>
  
    <gazebo reference="ball_link_back">
      <material>Gazebo/White</material>
      <mu1 value="0.1" />
      <mu2 value="0.1" />
    </gazebo>
  
    <link name="wheel_link_right">
      <visual>
        <geometry>
          <cylinder radius="0.036" length="0.016"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="black">
          <color rgba="0.0 0.0 0.0 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <cylinder radius="0.036" length="0.016"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>
      <inertial>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <mass value="0.1" />
          <inertia ixx="0.000034533333" 
              ixy="0"  ixz="0"
              iyx="0"  iyy="0.000034533333" 
              iyz="0"
              izx="0"  izy="0"  izz="0.0000648" />
      </inertial>
    </link>
  
    <gazebo reference="wheel_link_right">
      <material>Gazebo/Black</material>
      <mu1 value="1.0" />
      <mu2 value="1.0" />
    </gazebo>
  
    <link name="wheel_link_left">
      <visual>
        <geometry>
          <cylinder radius="0.036" length="0.016"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="black">
          <color rgba="0.0 0.0 0.0 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <cylinder radius="0.036" length="0.016"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>
      <inertial>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <mass value="0.1" />
          <inertia ixx="0.000034533333" 
              ixy="0"  ixz="0"
              iyx="0"  iyy="0.000034533333" 
              iyz="0"
              izx="0"  izy="0"  izz="0.0000648" />
      </inertial>
    </link>
  
    <gazebo reference="wheel_link_left">
      <material>Gazebo/Black</material>
      <mu1 value="1.0" />
      <mu2 value="1.0" />
    </gazebo>
    
    <joint name="body_joint" type="fixed">
      <parent link="base_link"/>
      <child  link="body_link"/>
      <origin xyz="0 0 0.046" rpy="0 0 0" />
    </joint>
  
    <joint name="ball_joint_front" type="fixed">
      <parent link="body_link"/>
      <child  link="ball_link_front"/>
      <origin xyz="0.11 0 -0.036" rpy="0 0 0" />
    </joint>
  
    <joint name="ball_joint_back" type="fixed">
      <parent link="body_link"/>
      <child  link="ball_link_back"/>
      <origin xyz="-0.11 0 -0.036" rpy="0 0 0" />
    </joint>
  
    <joint name="wheel_joint_right" type="continuous">
      <parent link="body_link"/>
      <child  link="wheel_link_right"/>
      <origin xyz="0 -0.158 -0.01" rpy="1.570796326794897 0 0" />
      <axis xyz="0 0 -1" />
      <limit effort="10" velocity="10" />
      <joint_properties damping="0.0" friction="0.0" />
    </joint>
  
    <joint name="wheel_joint_left" type="continuous">
      <parent link="body_link"/>
      <child  link="wheel_link_left"/>
      <origin xyz="0 0.158 -0.01" rpy="1.570796326794897 0 0" />
      <axis xyz="0 0 -1" />
      <limit effort="10" velocity="10" />
      <joint_properties damping="0.0" friction="0.0" />
    </joint>
  
    <gazebo>
      <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
  
        <!-- Plugin update rate in Hz, defaults to 100 Hz -->
        <updateRate>30</updateRate>
  
        <!-- Name of left joint, defaults to `left_joint` -->
        <leftJoint>wheel_joint_left</leftJoint>
  
        <!-- Name of right joint, defaults to `right_joint` -->
        <rightJoint>wheel_joint_right</rightJoint>
  
        <!-- The distance from the center of one wheel to the other, in meters, defaults to 0.34 m -->
        <wheelSeparation>0.332</wheelSeparation>
  
        <!-- Diameter of the wheels, in meters, defaults to 0.15 m -->
        <wheelDiameter>0.072</wheelDiameter>
  
        <!-- Wheel acceleration, in rad/s^2, defaults to 0.0 rad/s^2 -->
        <wheelAcceleration>1.0</wheelAcceleration>
  
        <!-- Maximum torque which the wheels can produce, in Nm, defaults to 5 Nm -->
        <wheelTorque>10</wheelTorque>
  
        <!-- Topic to receive geometry_msgs/Twist message commands, defaults to `cmd_vel` -->
        <commandTopic>cmd_vel</commandTopic>
  
        <!-- Topic to publish nav_msgs/Odometry messages, defaults to `odom` -->
        <odometryTopic>odom</odometryTopic>
  
        <!-- Odometry frame, defaults to `odom` -->
        <odometryFrame>odom</odometryFrame>
  
        <!-- Robot frame to calculate odometry from, defaults to `base_footprint` -->
        <robotBaseFrame>base_link</robotBaseFrame>
  
        <!-- Odometry source, encoder or world, defaults to world -->
        <odometrySource>world</odometrySource>
  
        <!-- Set to 1 to create odom publisher, defaults to 1 -->
        <publishTf>1</publishTf>
  
        <!-- Set to true to publish transforms for the wheel links, defaults to false -->
        <publishWheelTF>false</publishWheelTF>
  
        <!-- Set to true to publish transforms for the odometry, defaults to true -->
        <publishOdomTF>true</publishOdomTF>
  
        <!-- Set to true to publish sensor_msgs/JointState on /joint_states for the wheel joints, defaults to false -->
        <publishWheelJointState>false</publishWheelJointState>
  
        <!-- Set to true to swap right and left wheels, defaults to true -->
        <legacyMode>false</legacyMode>
  
        <!-- DebugMode or not, na or Debug, defaults to na -->
        <rosDebugLevel>na</rosDebugLevel>
      </plugin>
    </gazebo>
  
  </robot>