<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="example"/>
  <arg name="world_name" default="example"/>

  <arg name="model" default="$(find robot_simulator_template)/model/robot/$(arg robot_name).xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model) --inorder"/>
  <arg name="world_filename" default="$(find robot_simulator_template)/world/$(arg world_name).world" />

  <arg name="enable_rviz" default="true" />
  <arg name="rvizconfig" default="$(find robot_simulator_template)/rviz/simulation.rviz" />
  
  <param name="/use_sim_time" value="true" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_filename)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -x 0.0 -y 0.0 -z 0.5 -R 0 -P 0 -Y 0 -urdf -model $(arg robot_name)" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig) -f odom" if="$(arg enable_rviz)"/>

</launch>